<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <style>
    body {
      background: url('/assets/bg.png') repeat;
    }

    .logo {
      max-width: 15%;
    }

    .nav-links a,
    .nav-links button {
      color: white;
      text-decoration: none;
    }

    .nav-links a:hover,
    .nav-links button:hover {
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <div class="d-flex flex-column min-vh-100">
    <header class="d-flex justify-content-between align-items-center p-3 bg-dark">
      <a href="/">
        <img src="/assets/logo.png" alt="Tech Blog Logo" class="logo">
      </a>
    </header>
    <div class="d-flex justify-content-end p-3 bg-secondary">
      <nav class="nav-links d-flex align-items-center">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile" class="mx-2">Profile</a>
        <button class="no-button mx-2" id="logout">Logout</button>
        {{else}}
        <a href="/login" class="mx-2">Login</a>
        {{/if}}
      </nav>
    </div>
    <main class="container my-5 flex-grow-1">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer class="text-center py-3 mt-auto">
      &copy; 2024 Dantean Tech Blog
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="/bootstrap.bundle.min.js"></script>
</body>

</html>
