<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <style>
    body {
      background: url('/assets/bg.png') repeat;
    }
    .logo {
      max-width: 10%;
    }
  </style>
</head>

<body>
  <div class="d-flex flex-column min-vh-100">
    <header class="d-flex justify-content-between align-items-center p-3">
      <a href="/">
        <img src="/assets/logo.png" alt="Tech Blog Logo" class="logo">
      </a>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile" class="text-dark text-decoration-none">Profile</a> |
        <button class="no-button text-dark" id="logout">Logout</button>
        {{else}}
        <a href="/login" class="text-dark text-decoration-none">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container my-5 flex-grow-1">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer class="text-center py-3 mt-auto">
      &copy; 2024 Dantean Tech Blog
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="/bootstrap.bundle.min.js"></script>
</body>

</html>
