header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

body {
  color: #ffffff;
  background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
}

h1, h2, h3, h4, h5, h6, p, a {
  color: #ffffff;
}

.logo {
  max-width: 10%;
}
